.GVtableHead 
{
  	font: "Segoe UI",Arial,sans-serif;
	font-size:11px;
	text-decoration: none;
	font-weight:bold;
	color: #4d4d4d;
}

.GVtableData
{
	font: "Segoe UI",Arial,sans-serif;
	font-size:11px;
	text-decoration: none;
	color: #4d4d4d;
	line-height: 1.5;
	vertical-align: top;
}

.table tr 
{ 
}

.text-left {
    text-align: left!important;
}

.text-right {
    text-align: right!important;
}

.text-center {
    text-align: center!important;
}

.table thead th
{
	/* //border-bottom:2px solid #ccc; */
}

.table td, .table th {
   /* // border-bottom: 1px solid rgb(222, 226, 230);
    //border-top: none; */
}

.badge-danger
{
	color:#dc3545;
}

.badge-warning
{
	color:#ffc107;
}

.vertical-text 
{
    writing-mode: vertical-rl;
    transform: rotate(180deg); /* Optional: flips the text upright */
    text-align: center;
    height: 200px;
    vertical-align: bottom;
    position: absolute
}

.GVtableBorder 
{
	font-family: 'Open Sans',Arial,Helvetica,sans-serif;
	font-size: 10px;
	border: 1px solid rgb(222, 226, 230);
	padding: 0.20rem;
	color: #4d4d4d;
}

.GVtableHeadRpt 
{
  	color: #4d4d4d;
	font-weight:bold;
	border: 1px solid rgb(222, 226, 230);
	font-family: 'Open Sans',Arial,Helvetica,sans-serif;
	font-size:10px;
	padding: 0.20rem;
}